{{!< default}}

{{#post}}

<main id="gh-main" class="gh-main">
    <article class="gh-article {{post_class}}">
        {{> content}}
        <div class="addthis_inline_share_toolbox"></div>
    </article>
</main>

{{/post}}
